<mat-card>

    <mat-card-title>Excluir Produto</mat-card-title>
   <form>
       <mat-form-field>
           <input matInput placeholder="Nome do Produto" [value] = 'product.name' name="name" disabled> 
       </mat-form-field>

       <mat-form-field>
        <input matInput placeholder="Preço do Produto (R$)" [value] = 'product.price' name="price" disabled> 
    </mat-form-field>
   </form>

   <button mat-raised-button (click)="deleteProduct()">
    <i class="material-icons">
        <mat-icon>delete</mat-icon>
    </i>
    Deletar
    </button>
    <button mat-raised-button (click)="cancel()">
    <i class="material-icons">
        <mat-icon>cancel</mat-icon>
    </i>
    Cancelar
    </button>

</mat-card>

